---
import { i } from "../info";
import Card from "./Card.astro";
import CardContent from "./CardContent.astro";
---

<div
  class="w-full h-full space-y-4 xl:space-y-0 xl:grid grid-cols-7 gap-2 text-[24px]"
>
  {
    i.featuredWork && (
      <Card title="Operator">
        {i.featuredWork.map((w) => (
          <CardContent title={w.title} detail={w.dates} />
        ))}
      </Card>
    )
  }
  {
    i.featuredWork && (
      <Card title="Cardio">
        {i.recentProjects.map((w) => (
          <CardContent title={w.title} detail={w.dates} />
        ))}
      </Card>
    )
  }
  {
    i.featuredWork && (
      <Card title="Operator">
        {i.featuredWork.map((w) => (
          <CardContent title={w.title} detail={w.dates} />
        ))}
      </Card>
    )
  }
  {
    i.featuredWork && (
      <Card title="Cardio">
        {i.recentProjects.map((w) => (
          <CardContent title={w.title} detail={w.dates} />
        ))}
      </Card>
    )
  }
  {
    i.featuredWork && (
      <Card title="Operator">
        {i.featuredWork.map((w) => (
          <CardContent title={w.title} detail={w.dates} />
        ))}
      </Card>
    )
  }
  {
    i.recentProjects && (
      <Card title="Long Run">
        {i.recentProjects.map((p) => (
          <CardContent title={p.title} detail={p.dates} />
        ))}
      </Card>
    )
  }
  {
    i.recentProjects && (
      <Card title="Rest">
      </Card>
    )
  }
</div>
